#main{
    display: flex;
    flex-direction: row;
    background-color: #9497A7;
}
#leftSide{
background-image: url("../assets/dog_01.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 200px;
height: 500px;
}
#rightMain{
    background-color: #F7eceb;
}
#textTopRight{
color:#545871;
font-family: 'Signika', sans-serif;
}

/* Idea was taken from https://stackoverflow.com/questions/33881961/create-segmented-control-like-with-animation answer by Mi-Creativity */

#genderChoice{
    display: flex;
    flex-direction: row;
}

label{
        width: 120px;
        height: 30px;
        margin-left: 30px;
        text-align: center;
        outline: 1px solid green;
    }
 .choiceInp{
        display:none;
    }


    #male:checked ~ #maleChoice{
    background-color: #EBD0CE;
    }
    #female:checked ~ #femaleChoice{
        background-color: #EBD0CE;
    }

#yes:checked ~ #yesChoice{
background-color: #EBD0CE;
}
#no:checked ~ #noChoice{
    
background-color: #EBD0CE;
    
}

#up25lbs:checked ~ #choiceUp25{
    background-color: #EBD0CE;
    }
#up50lbs:checked ~ #choiceUp50{
    background-color: #EBD0CE;
    }
#up100lb:checked ~ #choiceUp100{
    background-color: #EBD0CE;
    }
#more100lb:checked ~ #choiceMore100{
    background-color: #EBD0CE;
    }

    #genderChoice  {
        background-color: #ffffff;
        
    }

#spaOrNeu{
    background-color: #ffffff;
    
}

#weightCh{
    background-color: #ffffff;
    
}
