#main{
    display: flex;
    flex-direction: row;
    background-color: #9497A7;
}
#leftSide{
background-image: url("../assets/dog_01.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 200px;
height: 500px;
}
#rightMain{
    background-color: #F7eceb;
}
#textTopRight{
color:#545871;
font-family: 'Signika', sans-serif;
}