#main{
    margin-top: 20px;
    margin-left: 100px;
    width:1190px;
    display: flex;
    flex-direction: row;
    border-radius: 2%;   
}

#leftSide{
    display: flex;
    flex-direction: column;
    background-image: url("../assets/dog_01.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 700px;
}

#logoTxt{
    margin-top: 50px;
    margin-left: 100px;
}

#logo{
    width: 221px;
    height: 64px;
}

ul{ 
    margin-top: 50px;
}

li{
    margin-bottom: 25px;
    padding-left: 20px;
    font-family: 24px 'Sen', sans-serif;
    color:#9597A6;
    list-style-position: outside;
    list-style-image: url("../assets/circle.png");
}

#save{
    margin-top: 300px;
    font-family: 24px 'Sen', sans-serif;
    text-decoration: underline;
    color:#ffffff;
}

/* ****************************************************************** */

#rightMain{
    width:700px;
    background-color: #F7eceb;
}
#topRight{
    margin-top: 45px;
margin-left: 150px;
}
#textTopRight{
    width:400px;
    height: 120px;
    color:#545871;
    font-family: 48px 'Signika', sans-serif;
}

#topPart{
 display: flex;
 flex-direction: row;
margin-top: -35px;
 
}

.pNames{
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    color: #9597A6;

}
.filloutInp{
  width: 180px; 
  height: 35px;
  font-family: 'Signika', sans-serif;
  font-size: 15px;
  color: #9597A6;
}

#upload{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
}
#imgCam{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#breedBirth {
    display: flex;
    flex-direction: row;
}

#birthDiv, #spaNeu{
    margin-left: 20px;
}

#genderSN{
    display: flex;
    flex-direction: row;
}





/* Idea was taken from https://stackoverflow.com/questions/33881961/create-segmented-control-like-with-animation answer by Mi-Creativity */


.labelsRadio{
    margin-top: 10px;
    margin-left: -7px;
    width: 65px;
    height: 20px;
    padding-left: 10px; 
    color:#545871;
    }
.radioWeight{
    margin-top: 10px;
    margin-left: -7px;
    width: 80px;
    height: 20px;
    padding-left: 10px; 
    color:#545871;
    }

 .choiceInp{
        display:none;
    }


    #male:checked ~ #maleChoice{
    background-color: #EBD0CE;
    }
    #female:checked ~ #femaleChoice{
        background-color: #EBD0CE;
    }

#yes:checked ~ #yesChoice{
background-color: #EBD0CE;

}

#no:checked ~ #noChoice{
    
background-color: #EBD0CE;
    
}

#up25lbs:checked ~ #choiceUp25{
    background-color: #EBD0CE;
    }
#up50lbs:checked ~ #choiceUp50{
    background-color: #EBD0CE;
    }
#up100lb:checked ~ #choiceUp100{
    background-color: #EBD0CE;
    }
#more100lb:checked ~ #choiceMore100{
    background-color: #EBD0CE;
    }

    #genderChoice,#spaOrNeu  {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 180px; 
        height: 45px;
        background-color: #ffffff;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5%;
        
        
    }

#weightCh{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    background-color: #ffffff;
    height: 45px;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5%;
}

#back, #next{
    margin-top: 30px;
  width: 100px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 35px;
  border: 1px solid #707070;
font-family: 'Signika', sans-serif;
  font-size: 15px;
  color: #545871;
}

#next{
    margin-left: 200px;
}

#button{
    padding-left: 150px;
    margin-top: 50px;
    margin-left: -150px;
    width: 540px;
    height: 110px;
    background-color: white;
    border: solid 5px white;
}
 